@{
  ViewData["Title"] = "Home Page";
}

<div class="row">
  <h2>Application Information</h2>
  <ul>
    <li>Visit the <a aasp-controller="Home" asp-action="Marketing">Marketing page</a> for all the latest marketing metrics.</li>
    <li>Visit the <a aasp-controller="Home" asp-action="About">About page</a> for an outline of what I have built and why.</li>
  </ul>
  <b>NOTE:</b> Since most websites need security, this site is secured! You will be required to log into a 
  valid GitHub account to access other pages. <i>GitHub <b>will</b> expect the application to be running at
  http://localhost:52487/. </i>
</div>
